.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 120vh;
  justify-content: center;
}

.login__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Estilo para a imagem de fundo */
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url(/images/backgroundlogin.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 50px;
}

/* Estilo para a imagem sobreposta */
.sobreimagem {
  width: 400px; /* Largura fixa */
  height: auto;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login__overlay {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid #333;
  border-radius: 8px;
  color: #333;
  font-size: 1em;
  margin-bottom: 15px;
  max-width: 300px;
  outline: none;
  padding: 15px;
  width: 100%;
}

.login__button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #003885;
  border: 3px solid #fefcff;
  border-radius: 8px;
  color: #fefcff;
  cursor: pointer;
  font-size: 1em;
  max-width: 300px;
  padding: 15px;
  width: 100%;
}

.login__buttoneasy{
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #003885;
  border: 3px solid #fefcff;
  border-radius: 8px;
  color: #fefcff;
  cursor: pointer;
  font-size: 1em;
  max-width: 300px;
  padding: 15px;
  width: 100%;
}

.login__button:disabled {
  background-color: #eee;
  border: 2px solid #969595;
  color: #aaa;
  cursor: auto;
}

.login__buttoneasy:disabled {
  background-color: #eee;
  border: 2px solid #969595;
  color: #aaa;
  cursor: auto;
}

/* Media Query para dispositivos móveis (largura máxima de 375px) */
@media screen and (max-width: 375px) {
  /* Ajustando o form para caber melhor em telas pequenas */
  .login-form {
    width: 100vw; /* Ocupa toda a largura da tela */
    height: auto;
  }

  /* Redimensionando a imagem de fundo */
  main  {
    width: 100%; /* Largura da imagem */
  }

  /* Redimensionando a imagem sobreposta */
  .sobreimagem {
    width: 300px; /* Reduz o tamanho da imagem sobreposta */
    top: 20%; /* Ajusta a posição no topo */
  }

  /* Estilos de sobreposição e botões */
  .login__overlay {
    font-size: 0.9em; /* Ajusta o tamanho da fonte */
    padding: 15px; /* Diminui o espaçamento */
    width: 90%; /* Mantém a sobreposição responsiva */
    max-width: none;
  }

  .login__button, 
  .login__buttoneasy {
    font-size: 0.9em; /* Ajusta o tamanho do texto dos botões */
    padding: 15px; /* Diminui o padding para caber melhor */
    width: 90%; /* Ajusta o tamanho do botão */
    margin-top: 10%;
    max-width: none;
  }
}